<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Expenses</title>
</head>
<body>

<h1>Account Page</h1>

<p>
    Expenses are as follows :
</p>

<h2>Expense List</h2>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>ExpenseName</th>
            <th>ExpenseDate</th>
            <th>ExpenseType</th>
            <th>VendorName</th>
            <th>Amount</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="expense, iStat: ${expenses}">
            <td th:text="${expense.id}">[id]</td>
            <td th:text="${expense.expenseName}">[expenseName]</td>
            <td th:text="${expense.ExpenseDate}">[ExpenseDate]</td>
            <td th:text="${expense.ExpenseType}">[ExpenseType]</td>
            <td th:text="${expense.vendorName}">[VendorName]</td>
            <td th:text="${expense.amount}">[Amount]</td>
        </tr>
        </tbody>
    </table>

    <p>
       No expenses yet.
    </p>
</div>

<h2>New Expense</h2>


<form th:action="@{/expense}" th:object="${expenseForm}" method="post">

    <p>Expense Name: <input type="text" th:field="*{expenseName}"/></p>


    <p>Vendor Name: <input type="text" th:field="*{vendorName}"/></p>

    <p>Vendor Type: <select name="type" th:field="*{expenseType}">
        <option value="0">select option</option>
        <option th:each="type: ${T(com.SplitEasier.spliteasier.model.ExpenseType).values()}"
                th:value="${type}" th:text="${type}"></option>
    </select></p>

    <p>Expense Date: <input type="date" th:field="*{date}"/></p>

    <p>Amount: <input type="number" th:field="*{amount}"/></p>


    <p><input type="submit" value="Submit"/></p>
</form>

</body>
</html>